div{
    padding: 10px;
}
button{
    border-radius: 10px;
    height: 50px;
    background-color: greenyellow;
}
#Nome{
    background-color: rgb(144, 83, 206);
    color: white;
    font-weight: bolder;
}