<section id="resultados" class="box">
    <div class = "cabeçalho">Resultados</div> 
        <ul>
            <li>Pós-Graduação em Ciência Animal</li>
            <a href="https://www2.uesc.br/publicacoes/editais/arquivo/2023/11/215_2023.pdf">Link</a>
            <li>Mestrado em Química</li>
            <a href="https://www2.uesc.br/publicacoes/editais#4182">Link</a>
            <li>Genética e Biologia Molecular - Mestrado e Doutorado</li>
            <a href="https://www2.uesc.br/publicacoes/editais/arquivo/2023/11/215_2023.pdf">Link</a>
        </ul>
</section>