<section id="servicosSection" class="box">
    <div class="cabeçalho">Serviços</div>
    <div id="servicos">

    </div>
    
        <p> 
            Universidade Estadual de santa Cruz -UESC - Desenvolvendo Potenciais, Construindo Futuros. 

            A Universidade UESC é uma instituição de ensino superior comprometida com a excelência acadêmica, a inovação e o desenvolvimento integral dos seus estudantes. Fundada em 1991, a universidade tem se destacado como um centro de referência em diversas áreas do conhecimento.
        </p>

        <p>
            Conheça mais sobre o seu país: The flag of Brazil has a green field with a large yellow rhombus in the center. Within the rhombus is a dark blue globe with twenty-seven small five-pointed white stars depicting a starry sky and a thin white convex horizontal band inscribed with the national motto 'Ordem e Progresso' across its center.
        </p>
</section>
